@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700;800&display=swap');

// color
$white: #ffffff;
$white2:#E6EEF3;
$black: #000000;
$black2:#03324C;
$light:#F8F8F8;
$red: #df4c44;
$gray: #7B7A7A;
$light-gray:#B9B9B9;
$dark: #062231;
$primary:#0e77bb;
$blue:#1073AC;
$dark-blue:#0E77BB12;

//font
$inter-tight:'Inter Tight', sans-serif;

//
$font-family-inter-tight: $inter-tight;

// Body
$body-bg: $light ;
$body-color: $black;

